
@font-face {
  font-family: 'Eurostile';
  src: url('../fonts/EurostileRegular.eot');
  src: url('../fonts/EurostileRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/EurostileRegular.woff2') format('woff2'),
      url('../fonts/EurostileRegular.woff') format('woff'),
      url('../fonts/EurostileRegular.ttf') format('truetype'),
      url('../fonts/EurostileRegular.svg#EurostileRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





