/*===========================================
Colors
===========================================*/

$text-dark: #000000;
$theme-color: #000000;


/*===========================================
Fonts
===========================================*/

$base-font: 'Eurostile'; /* Base font */
$base-font-size: 20px;

